<h6>
  <span class="title-info">
    <strong>Name:</strong>
  </span>
  <span>Vladimir Kolesnikov</span>
</h6>

<h6>
  <span class="title-info">
    <strong>Date of birth:</strong>
  </span>
  <span>September-14-1989</span>
</h6>

<h6>
  <span class="title-info">
    <strong>Nationality:</strong>
  </span>
  <span>Ukrainian</span>
</h6>

<h6>
  <span class="title-info">
    <strong>Email:</strong>
  </span>
  <span><a href="mailto:devkolesnikov@gmail.com">devkolesnikov@gmail.com</a></span>
</h6>

<h6>
  <span class="title-info">
    <strong>Skype:</strong>
  </span>
  <span>air_drops</span>
</h6>

<div class="resume">
  <a href="/about/profile">download resume</a>
</div>
