<button (click)="toogleNavBar()" [ngClass]="{'clicked': !navBar}" class="navbar-toggler" type="button">
  <span></span>
  <span></span>
  <span></span>
</button>
<nav  [ngClass]="{'small': !collapsed, 'hidden': navBar}">
  <div (click)="toogleCollapse()" [ngClass]="{'collapsed': collapsed}" class="collapse-menu"></div>

  <div class="nav-links">
    <a routerLink="/home" class="logo">
      <img src="./assets/Dog.jpg" alt="Logo" />
    </a>

    <a *ngFor="let navLink of navLinks" routerLink="{{navLink.link}}" routerLinkActive="active">
      <span [innerHtml]="navLink.icon"></span>
      <span [@navLinks]="collapsed">{{navLink.anchor}}</span>
    </a>
  </div>

  <div class="social" [@navLinks]="collapsed">
    <a *ngFor="let socialLink of socialLinks" href="{{socialLink.link}}" [innerHtml]="socialLink.icon" target="_blank" title="{{socialLink.anchor}}"></a>
  </div>

</nav>
