/* Media */

$small: 360px;
$small-medium: 568px;
$medium: 980px;
$medium-plus: 981px;
$large: 1024px;
$extra-large: 1440px;


/* Colors */

$main: rgb(124, 169, 92);
$dark-layout: rgba(0, 0, 0, 0.75);
$theme: rgba(255, 255, 255, 1);
$shadow-color: #4d4d4d;
$shadow: -3px 5px 12px $shadow-color;
$shadow-active: -2px 3px 3px $shadow-color;
$border: #ddd;

$txt: #333;

/* Fonts */
$Poppins: Poppins;
$PoppinsLight: Poppins-Light;
$PoppinsBold: Poppins-Bold;
$KaushanScript: KaushanScript-Regular;
